
@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'BMEULJIRO';
}

.header{
    background-color: #398181;
    display: flex;
    width: 100%;
    height: 150px;
margin: 0px 0px 0px 0px;
color: #fddaad;
padding: 0px 15px 0px 15px;
font-family: 'BMEULJIRO';
-webkit-text-stroke: 1px #285c5c;
font-size: 20px;
}

input.noOutlineImgButton {
  background: url("https://github.com/halbebe/hal/blob/main/img/cd%20%EB%B2%84%ED%8A%BC%20%EC%95%84%EC%9D%B4%EC%BD%98.png?raw=true") no-repeat;
  width: 125px;
  height: 125px;
  background-size: cover;
  border: none;
}

input.noOutlineImgButton:hover {
  transform: rotate( 60deg );
}

input.noOutlineImgButton{animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


#searchInput{
  width: 90%;
  margin: 0px 50px 0px 50px;
  font-family: 'BMEULJIRO';
color: #285c5c;
-webkit-text-stroke: 1px #285c5c;

}

.search{
  flex-grow: 1;
}

.search1{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  justify-content: space-between;
}

input[type='text'] {
  background-color: #fffafa;
  font-size: 1.2em;
  border: 0;
  outline: none;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;

}


.card {
  background-color: #ffe5c2;
    width: 17em;
    border-radius: 15px;
    margin: 1em;
    padding: 0.2em;
    padding-bottom: 1em;
  }

.card:hover {
  transform: scale(105%);
}

  .card-img-top {
    width: 15em;
    height: 22em;
    overflow: auto;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 15px;
    border: 0;
  }



  
  .main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
  }

.cardtitle{
  padding: 0px 15px;
  color: #398181;
  -webkit-text-stroke: 0.3px  #285c5c;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
  
.star{
  padding: 0px 15px;
  color: #398181;
}

.overview{
    display: -webkit-box;
    -webkit-line-clamp: 5; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 100%;
    line-height: 1.3;
    padding: 0px 15px;
    color: #398181;
  }